/* Global */
body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  /* Heading style */
  .josh-heading {
    font-family: "Jost", sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 30px;
    line-height: normal;       /* Auto */
    letter-spacing: 0%;
    text-align: center;        /* FIXED */
  }

  .about {
    width: 724px;
    height: 544px;
    margin: 0 auto;
  }
  
  /* Overview Card */
  .overview-card {
    width: 350px;
    min-height: 220px;
    background-color: #ffffff;
    border-top: 20px solid #4C5C68;
    border-radius: 15px;
    overflow: hidden; 
    padding: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
.overview-cards-container {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 48px;
}


/* Icon */
.overview-icon {
  margin-bottom: 15px;
  color: #4C5C68;
}

/* Title */
.overview-title {
  font-family: "Jost", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* Description */
.overview-description-text {
  max-width: 820px;
  margin: 45px auto 0 auto;
  text-align: center;

  font-family: "Jost", sans-serif;
  font-weight: 700; /* SemiBold */
  font-size: 21px;
  color: #4C5C68;
  line-height: 2.0;
}



.adjectives-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}

.adjective-box {
  width: 150px;
  height: 45px;
  background-color: #B6A58D;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Jost", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 14px;
  color: #ffffff;
}

.view-work-button {
  width: 198px;
  height: 47px;
  margin: 32px auto 0 auto;

  background-color: #C37052;
  border-radius: 8px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
