.passion-section {
  width: 100%;
  padding: 50px 10px;
  background-color: #ffffff;
  text-align: center;
}

.passion-heading {
  font-family: "Jost", sans-serif;
  color: #475569;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 48px;
}

.passion-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0 15px;
}

.passion-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  margin-right: 20px; 
  gap: 30px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.passion-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.passion-title {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #475569;
}

.passion-description {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #475569;
}

.passion-footer {
  max-width: 760px;
  /* margin: 64px auto 0; */
  margin: 60px auto 0 auto;
  font-family: "Jost", sans-serif;
  font-weight: 600; 
  color: #4c5c68;
  font-size: 23px;
  line-height: 1.7;
}

/* -------- Mobile -------- */

@media (max-width: 900px) {
  .passion-grid {
    grid-template-columns: 1fr;
  }

  .passion-heading {
    font-size: 30px;
  }

  .passion-image {
    height: 220px;
  }

  .passion-footer {
    font-size: 16px;
    line-height: 1.6;
    padding: 50px 10px;
    margin: 0 15px;
  }
}
