/* SECTION WRAPPER */
.passion-section {
    padding: 80px 20px;
    text-align: center;
  }
  
  /* TITLE */
  .passion-title {
    font-family: "Jost", sans-serif;
    font-weight: 700; /* Bold */
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 40px;
    color: #4c5c68;
    text-align: center;
  }
  /* CARDS WRAPPER */
.passion-cards-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px; /* 30px horizontal spacing */
    border-bottom: 20px;
  }

  /* CARD */
  .passion-card {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 48px auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 22px;
    margin-bottom: 10px;
  }
  
  /* IMAGE */
  .passion-image {
    width: 394px;
    height: 248px;
    object-fit: cover;
    display: block;
    margin: 23px auto 0 auto; /* 23px from top, centered */
    padding-left: 28px;
    padding-right: 28px;
    /* box-sizing: border-box; */
  }
  
  /* HEADING BELOW IMAGE */
  .passion-heading {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #4c5c68;
    margin-top: 24px;
    margin-left: 28px;
  }
  
  /* DESCRIPTION */
  .passion-description {
    font-family: "Jost", sans-serif;
    font-weight: 400; 
    font-size: 20px;
    color: #4c5c68;
    padding: 0 28px;
    line-height: 1.5;
  }
  
  /* BOTTOM TEXT */
  .passion-footer-text {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 25px;
    font-family: "Jost", sans-serif;
    font-weight: 600; 
    color: #4c5c68;
    font-size: 23px
  }  