.portfolio-section {
  background-color: #ECECEC;
  padding: 40px 20px;
  margin: 0 auto;
}
.portfolio-heading {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #4C5C68;
  margin-bottom: 40px;
}
.projects-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 445px;
  height: 301px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.project-media {
  position: relative;
  width: 100%;
  max-height: 365px;
  overflow: hidden;   
  border-radius: 15px 15px;
}

.project-image {
  width: 100%;
  /* height: auto; */
  max-height: 301px;
  object-fit: cover;
  border-radius: 0px 15px;
}
.project-overlay {
  position: absolute;
  inset: auto 0 0 0;
  background: white;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}
.project-overlay-content {
  padding: 24px;
}

.project-card:hover {
  overflow: hidden;}

.project-card:hover .project-overlay {
  transform: translateY(0);
}
.project-title {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  margin-bottom: 8px;
}

.project-description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-bottom: 12px;
}

.project-link {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #C37052;
  cursor: pointer;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }

  .portfolio-heading {
    font-size: 22px;
  }

  .project-title{
    font-size: 20px;
  }

  .project-image {
    height: 480px;
  }

  .project-description {
    font-size: 15px;
  }

  .project-overlay {
    min-height: auto;
    width: auto;
    grid-template-columns: 1fr;
  }

  .project-link {
    font-size: 18px;
  }
}