.portfolio-section {
  background-color: #ECECEC;
  padding: 70px 0;
  margin-top: 10%;
}
.portfolio-heading {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #4C5C68;
  margin-bottom: 48px;
}
.projects-container {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.project-card {
  position: relative;
  width: 445px;
  height: 301px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-overlay {
  position: absolute;
  bottom: 0;
  width: 435px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 24px;

  transition: transform 0.5s ease;
}
.project-card:hover .project-overlay {
  transform: translateY(150px);
}
.project-title {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
  margin-bottom: 8px;
}

.project-description {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  margin-bottom: 12px;
}

.project-link {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #C37052;
  cursor: pointer;
}
              